/*@import '~choerodon-ui/dist/choerodon-ui.css';*/

.App {
  float: left;
}
.choerodon-role{
  height: 90%;
  width: 83%;
}
.enabletitle{
  color: #000;
  margin-left: 4px;
}
.createRoleBefore{
  position: absolute;
}